PORT=8080
VITE_SUPABASE_URL=https://qsxntomjaintphxslfyt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzeG50b21qYWludHBoeHNsZnl0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY2MDE0OCwiZXhwIjoyMDk0MjM2MTQ4fQ.0ynywZiiriLotl6OK_VYk7Cn2NRU_Pyds_bhFwsDoXA
