VITE_SUPABASE_URL=https://qsxntomjaintphxslfyt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_j8pF01lpzsv7IMgbamCdsQ_GhjbABgB
PORT=5000
BASE_PATH=/
# VITE_API_URL=https://your-railway-app.railway.app
